<!--
  Generated template for the EncuestaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Tasks</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="openAlertNewTask()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
   <ion-list>
     <ion-item *ngIf="tasks.length == 0">
       Empty
     </ion-item>
    <ion-item-sliding *ngFor="let task of tasks; let i = index">
      <ion-item >
        <ion-label>{{ task.title }}</ion-label>
        <ion-checkbox (ionChange)="updateTask( task, i )" [checked]="task.completed"></ion-checkbox>
      </ion-item>
      <ion-item-options side="right" icon-left>
        <button ion-button color="danger" (click)="deleteTask(task, i)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
<!--
      <ion-label class="txtHeader">Encuesta de Satisfacción</ion-label>
      <div padding class="txtBox">
      <ion-label class="txtQuestions">1. ¿Como evaluarías la calidad del servicio?</ion-label>
      <ion-label class="txtQuestions">2. Experiencia de servicio al cliente</ion-label>
      <ion-item>
      <ion-input type="text"></ion-input>
      </ion-item>
      <ion-label class="txtQuestions">3. La entrega a tiempo de servicio</ion-label>
      <ion-item>
      <ion-input type="text"></ion-input>
      </ion-item>
      <ion-label class="txtQuestions">4. Profesionalismo</ion-label>
      <ion-item>
      <ion-label>Malo</ion-label>
      <ion-checkbox color="blue" checked="false"></ion-checkbox>
      </ion-item>
      <ion-item>
      <ion-label>Regular</ion-label>
      <ion-checkbox color="blue" checked="false"></ion-checkbox>
      </ion-item>
      <ion-item>
      <ion-label>Bueno</ion-label>
      <ion-checkbox color="blue" checked="false"></ion-checkbox>
      </ion-item>
      <ion-item>
      <ion-label>Excelente</ion-label>
      <ion-checkbox color="blue" checked="false"></ion-checkbox>
      </ion-item>
      </div>
      <ion-label class="txtQuestions">5. Experiencia de Compra</ion-label>
      <ion-label class="txtQuestions">6. ¿Nos recomendaria a sus conocidos?</ion-label>
      <ion-label class="txtQuestions">7. ¿Por qué?</ion-label>
      <br/>

      <div padding class="divButtons">
      <button class="btnSiguiente" ion-button type="submit" (click)="pEncuesta();">Terminar</button>
      </div>
-->
